PORT=3001
JWT_SECRET=
JWT_EXPIRATION=86400000
VERIFICATION_EXPIRATION=3600000
DATABASE_URL=

# Email
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=
SMTP_PASS=
FROM_EMAIL=

# Frontend
FRONTEND_BASE_URL=http://localhost:3000
